/*Bootstrap CSS*/

.navbar-inverse{
    background-color:white;
}



/*My CSS*/

/*Single Node Viewer*/
.myDiv{
    border:1px solid #eee;
}


#chart-ring-resource{
    margin-left: 85px;
    margin-bottom:15px;
}

#resetButton{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 120px;
}

#resourceChart{
    margin-top: 5px;
    margin-left: -7px;
}

#eventsTable{
    margin-left: 15px;
}

#rangeTable{
    margin-left:0px;
}

#rangeSlider{
    margin-top:30px;
    margin-bottom:20px;
}

#axisButton{
    margin-bottom:15px;
    margin-left:120px;
}

#s2id_nodeSelector{
    width:300px;
    margin-left:25px;
    margin-bottom:10px;
}

#mainPart{
    height:100%;
}


/*Global Events Viewer*/

#yAxisDiv{
    
}

