/* Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#l3p3-loading-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    right: 0;
    top: 0;
    z-index: 10;
    display: none;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#l3p3-loading-screen-image {
    background: url(../icons/loading.gif) no-repeat center;
    display: block;
    height: 100%;
    z-index: 11;
    width: 100%;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.hr {
    width: 100%;
    height: 0px;
    border-top: solid;
    border-top-width: 1px;
    border-color: #000000;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

.dashboard-templates {
    display: none !important;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.img-transparency {
    opacity: 0.5;
}

.img-transparency:hover {
    opacity: 1;
}

#left-column {
    display: none;
}
#left-column.enable{
    display: inherit;
}

#left-column-button.show-left-column {
    background-image: url('../icons/leftArrow.png');
    position: inherit;
    margin-left: -15px;
}

#left-column-div {
    display: none;
}

#left-column-div.show-left-column {
    display: inherit;
}
#left-column-div {
    /*position: fixed;*/
    background-color: #f0f0f0;
    border-right: 1px solid dimgrey;
    width: 300px;
    height: 100%;
    float:left;
    overflow-y: auto;
}
#left-column-button {
    float:left;
    width: 15px;
    height: 15px;
    z-index: 10;
    background-image: url('../icons/rightArrow.png');
    position: absolute;
    margin-left: 0px;
}

#left-column-button:hover {
    background-image: url('../icons/rightArrow_black.png');
}

#left-column-button.show-left-column:hover {
    background-image: url('../icons/leftArrow_black.png');
}

#content-father{
    overflow-x: hidden;
}




.navbar-header.center {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand.center {float:none;}


#framework-main {
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
/*
 * Placeholder dashboard ideas
 */
#content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
#content.footer-show {
    height: 400px;
    height: calc(100vh - 350px); /* 300 footer + 50 header*/
    /*height: -moz-calc(100% - 300px); *//* For firefox browser*/
    height: -webkit-calc(100% - 300px); /* for webkit browsers*/
}
#content.footer-show.maximize-footer {
    display: none;
}

#footer {
    bottom: 0px;
    background-color: #f0f0f0;
    border-top: 0px;
    position: relative;
    display: none;
}

#footer.enable {
    display: inherit;
}


#footer.footer-show {
    border-top: 3px double dimgrey;
    display: inherit;
    height: 300px;
}

#footer.footer-show.maximize-footer {
    border-top: 3px double dimgrey;
    display: inherit;
    height: 100%;
    bottom: 0px;
    top: 0px;
}

#footer-content {
    display: none;
    overflow-y: auto;
    height: 100%;
}

#footer-content.footer-show {
    display: inherit;
}
#footer-button {
    position: absolute;
    right: 0px;
    background: url('../icons/topArrow.png');
    width: 15px;
    height: 15px;
    top: -15px;
    z-index: 10;

}



#footer-button-maximize {
    display: none;
    position: absolute;
    right: 16px;
    background: url('../icons/maximize_normal.png');
    width: 15px;
    height: 15px;
    top: 0px;
    z-index: 10;

}

#footer-button-maximize:hover {
    background: url('../icons/maximize_hover.png');
}
#footer-button-maximize.footer-show {
    display: inherit;
}
#footer-button-maximize.maximize-footer {
    background: url('../icons/minimize_normal.png');
}
#footer-button-maximize.maximize-footer:hover {
    background: url('../icons/minimize_hover.png');
}
#footer-button:hover {
    background: url('../icons/topArrow-black.png');
}
#footer-button.footer-show:hover {
    background: url('../icons/bottonArrow-black.png');

}
#footer-button.footer-show {
    top:0px;
    background: url('../icons/bottonArrow.png');
}


.footer-button {
    background-color: #f0f0f0;
}

.left-main {
    padding: 5px;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#config-colors{
    display: inline-block;
    height: 100%;
}
.my-color-box {
    height: 25px;
    width: 25px;
    margin: 3px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 2px;
}
.my-color-box:hover {
    border: 0px;
}
.my-color-box:hover>img {
    display: inherit;
}
.my-color-box>img{
    display: none;
}
/*.my-color-box>div:hover {*/
    /*background: url('../icons/delete-box.png') no-repeat;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

#dd-main {
    /*padding-top : 20px;*/
}

.dd-database-entry {
    padding:1px;
}

.dd-database-entry a.dd-button-type-select {
    height: 40px;
    padding: 8px
}

.dd-database-entry a.dd-button-type-trash {
    height: 40px;
    padding: 10px
}

.dd-class-div-select-attr {
    height: 34px;
    line-height: 34px;
    vertical-align: middle;

}
.slider-panel div{
    display: inline-block;
    margin: 0px 5px
}

.slider-panel div.ui-slider {
    width: 100px;
}

/*.btn-default {*/
    /*margin-bottom: 2px;*/
/*}*/

.btn-group {
    margin-bottom: 2px;
    margin-right: 2px;
}
/* Fix width for inline form*/
.form-inline .input-group>.form-control {
    width: auto;
}

.form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control {
    width: auto;
}

.div-border {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 15px;
    min-height: 32px;
}


.center-content-panel {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.panel-button {
    min-height: 30px;
}

/*Centering the content of slider in odv view*/

.odv-canvas {
    width: 100%;
    margin-bottom: 3px;
}

#odv-threshold-slider-panel div, #odv-velocity-slider-panel div, .odv-chart-slider .ui-slider{
    display: inline-block;
}

.odv-chart-slider-label{
    display: inline;
}

#odv-velocity-slider-panel .ui-slider-range, .odv-chart .controls  *.ui-slider-range  {
    background: #ef2929;
}
#odv-velocity-slider-panel .ui-slider-handle, .odv-chart .controls *.ui-slider-handle {
    border-color: #ef2929;
}

#odv-charts {
    overflow-y: auto;
}

/*Centering the content of slider in pv view*/

.pv-canvas {
    width: 100%;
    margin-bottom: 3px;
}

#pv-threshold-slider-panel div, #odv-velocity-slider-panel div, .odv-chart-slider .ui-slider{
    display: inline-block;
}

.pv-chart-slider-label{
    display: inline;
}

#pv-velocity-slider-panel .ui-slider-range, .odv-chart .controls  *.ui-slider-range  {
    background: #ef2929;
}
#pv-velocity-slider-panel .ui-slider-handle, .odv-chart .controls *.ui-slider-handle {
    border-color: #ef2929;
}

#pv-charts {
}

.pv-chart {
    border: black 1px groove;
    padding: 2px;
    /*border-width: 1px;*/
    /*border-style: groove;*/
    /*padding : 2px;*/
    margin: 4px;
    /*margin: -5px;*/
    display: inline-block;

}

.pv-int-chart {
    border-top: black 2px groove;
    /*border-top-width: 2px;*/
    /*border-top-style: groove;*/
    padding-top : 2px;
    margin-top: 4px;
    /*border: black;*/
    /*border-width: 1px;*/
    /*border-style: groove;*/
    /*padding : 2px;*/
    /*margin: 4px;*/

}

#pv-main {
    max-height: 100%;
}

#pv-tool-bar {
    margin: 5px;
}


#pv-input-url {
    width: 150px;
}
#pv-tool-bar>div {
    margin: 2px 0px;
    display: block;
}

.pv-canvas {
    width: 100%;
    margin-bottom: 3px;
}

.pv-select-graph {
    width: 40px;
    height: 32px;
    background: url('../icons/minigraph_3.png') no-repeat;
}

.pv-select-graph.active {
    background: url('../icons/minigraph_3.png') no-repeat;
    background-color: #e6e6e6;
}

.pv-svg-up-canvas {
    position: absolute;
}

.pv-events-count {
    width: 100%;
}

.pv-events-count span {
    /*float: right;*/
    /*margin-left: 3px;*/
}
.pv-events-count-parent {
    overflow-y: auto;
    overflow-x: hidden;

}
.pv-events-count {
    /*height: 100px;*/
}
.pv-events-count>div {
    white-space: nowrap;
    text-overflow: ellipsis;
    /*float: right;*/
    /*margin-left: 3px;*/
}

.pv-events-count>div.tooltip {
    white-space: inherit;
}

.pv-events-count .tooltip {
    background: red;
    /*position: static;*/
}

.pv-tooltip-events-occurred-internal {
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
}
.pv-tooltip-events-occurred-internal>span {

}

div.pv-table-graph-footer {
    width: 100%;
}
div.pv-table-graph-footer>.pv-prediction-table {
    width: 24%;
    display: inline-table;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
}
.pv-my-stats {
    vertical-align: top;
    width: 50px;
    display: inline-block;
}
.pv-controls div{
    margin: 1px auto;
    display: table;

}
.pv-canvas-graph {
    width: calc(100% - 310px);
    display: inline-block;
}
.pv-events-count-parent {
    width: 250px;
    display: inline-block;
}
div.pv-table-graph-footer>.pv-prediction-table th {
    width: 50%;
}
div.pv-table-graph-footer>.pv-prediction-table.pv-table-evens-prediction-result th {
    width: 33%;
}

div.pv-table-graph-footer>.pv-prediction-table thead tr:first-child th{
    text-align: center;
    font-size: 120%;
}
div.pv-table-graph-footer>.pv-prediction-table thead tr:not(:first-child) th{
    border-bottom: 1px solid #000
}

.pv-table-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.pv-pause-graph, .pv-pause-graph.active{
    height: 32px;
    width: 40px;
    background: url('../icons/pause_4.png') no-repeat;
}
.pv-pause-graph.active {
    background-color: #e6e6e6;
}

.pv-miss {

}
.pv-hit, .pv-miss-fp, .pv-miss-fn{
    height: 20px;
    width: 20px;
    margin: auto

}

.pv-miss-fp {
    background-image: url('../icons/orange_cross.png');
}

.pv-miss-fn {
    background-image: url('../icons/red_cross.png');
}
.pv-hit {
    background-image: url('../icons/green_check.png');
}

.pv-events-count {
    width: 100%;
}
.pv-events-count .pv-td-1 {
    width: 70%;
    text-align: left;
}
.pv-events-count .pv-td-2{
    width: 20%;
    text-align: right;

}
.pv-events-count .pv-td-3 {
    width: 10%;
    text-align: left;
}

.pv-alert-box{
    background:red;
    width:10px;
    height:10px;
    border: 0px solid white;
    border-radius: 2px;
    color: red;

    animation: parpadeo 2s;
    -webkit-animation: parpadeo 2s;
    -moz-animation: parpadeo 2s;
    /*animation-iteration-count:infinite;*/
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
}

@keyframes parpadeo {
    0%	{-webkit-box-shadow: 0px 0px 5px }
    50%	{-webkit-box-shadow: 0px 0px 10px }
    100%{-webkit-box-shadow: 0px 0px 5px }
}

@-webkit-keyframes parpadeo{
    0%	{-webkit-box-shadow: 0px 0px 5px }
    50%	{-webkit-box-shadow: 0px 0px 10px }
    100%{-webkit-box-shadow: 0px 0px 5px }
}

#dd-filters-row {
    overflow-y: auto;
}

/*Netwok life circle styles*/
#nglc-graph-panel{
    border-top: solid 1px dimgrey;
}

#nglc-temporal-bar {
    padding: 5px;
}
#nglc-slider-subpanel {
    display: inline-flex;
}


#nglc-internal-slider {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
}

.nglc-box-margins-horizontal, .nglc-box-margins{
    margin-left :2px;
    margin-right :2px;
}

.nglc-box-margins-vertical, .nglc-box-margins {
    margin-top: 2px;
    margin-bottom: 2px;
}
.nglc-footer-node-table {
    border: 1px solid;
    border-radius: 5px;
}

#nglc-footer-id h5 {
    text-align: center;
}
/*size of the image*/
#nglc-next-step-img {
    background: url('../icons/step1.png') no-repeat;
    width: 20px;
    height: 20px;
}
#nglc-next-step-img:hover {
    background: url('../icons/step1_black.png') no-repeat;
}

#nglc-prev-step-img {
    background: url('../icons/step2.png') no-repeat;
    width: 20px;
    height: 20px;
}
#nglc-prev-step-img:hover {
    background: url('../icons/step2_black.png') no-repeat;
}
/*d3p view classes and ids*/
.d3p-buttons {
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
    /*white-space: inherit;*/
    /*text-align: left;*/
}

#d3p-footer {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
/*#d3p-footer-code {*/
    /*margin-top: 10px;*/
/*}*/

#d3p-footer-code div{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.d3p-buttons input{
    position: fixed !important;
}
.left-divider {
    border-right: 1px solid #ccc;
    padding: 0px 5px;
}

#d3p-buttons-list {
    margin-left: 5px;
}


.btn:focus {
    outline: none;
}

.btn.active:focus{
    outline: none;
}

/*temporal association network styles*/
#tan-main {

}


thead {
    font-weight: bold;
}
/*Amarillo*/
.nada{background: #ffff33}
.nada{background: rgb(255, 255, 51)}
.nada{background: rgb(60, 80, 100)}


/*Alert table*/

.at-table-header {
    text-align: center;
    font-size: x-large;
}

#at-table-left * th span
{
/*, th.at-cell-alert, th.at-cell-start, th.at-cell-end {*/
    cursor: row-resize;
}

.at-selected-row {
    font-weight: bold;
    /*border: solid ;*/
}



#at-table-left .at-cell-event {
    cursor: hand;
}

.at-hand-icon {
    cursor: hand;
}


#at-table-left tbody .at-cell-end {
    text-align: right;
}

#at-info {
    /*display: inline;*/
}

#at-hour {
    text-align: left;
    font-size: x-large;
}
#at-info-icon {
    position: absolute;
    float:left;
    right: 0px;
    z-index: 1;
    width: 11px;
    height: 11px;
    /*margin-left: -11px;*/
}

#at-info {
    border-bottom: 1px solid grey;

}

#at-info-icon.off{
    background-image: url(../icons/plus.png);

}
#at-info-icon.on{
    background-image: url(../icons/minus.png);
}

#at-info.on {
    display: inherit;
}

#at-info.off {
    display: none;
}

.at-hidden-element {
    display: none;
}

#at-col-center {
    position: absolute;
    height: 96%;
    overflow-y: hidden;

}
#at-col-center div {
    height: 50%;
    /*overflow-y: auto;*/
}


#at-col-right {
    position: absolute;
    right: 20px;
    height: 96%;
    overflow-y: hidden;
}
#at-col-right div {
    height: 50%;
    /*overflow-y: auto;*/
}

#at-clear-prediction-result-button {
    float:right;
}

.at-tip{
    /*font-size: 10px;*/
    font-weight: normal;
}

#at-table-results {
    height: 95%;
}
#at-table-results tbody {
    height: 100%;
    overflow-y: auto;
}


.at-table tbody {
    overflow-y: auto;
}

.at-table thead,
.at-table tbody,
.at-table tfoot{
    display: block;
}

#at-table-results tfoot tr td {
    width: 25vw;
    text-align: center;
}

.at-table thead tr:first-child {
    width: 25vw;
}

#at-left-content {
    margin-top: 10px;
}

.at-switcher {
    display: inline-block;
    position: relative;
    top: 5px;
}

#at-switcher-alias {
    border-bottom: 1px solid black;
}



/*Centering the content of slider in pv view*/

.dap-svg-up {
    width: 100%;
    margin-bottom: 3px;
}

#dap-threshold-slider-panel div, #odv-velocity-slider-panel div, .odv-chart-slider .ui-slider{
    display: inline-block;
}

.dap-chart-slider-label{
    display: inline;
}

#dap-velocity-slider-panel .ui-slider-range, .odv-chart .controls  *.ui-slider-range  {
    background: #ef2929;
}
#dap-velocity-slider-panel .ui-slider-handle, .odv-chart .controls *.ui-slider-handle {
    border-color: #ef2929;
}

#dap-charts {
}

.dap-chart {
    border: black 1px groove;
    padding: 2px;
    /*border-width: 1px;*/
    /*border-style: groove;*/
    /*padding : 2px;*/
    margin: 4px;
    /*margin: -5px;*/
    display: inline-block;

}

.dap-int-chart {
    border-top: black 2px groove;
    /*border-top-width: 2px;*/
    /*border-top-style: groove;*/
    padding-top : 2px;
    margin-top: 4px;
    /*border: black;*/
    /*border-width: 1px;*/
    /*border-style: groove;*/
    /*padding : 2px;*/
    /*margin: 4px;*/

}

#dap-main {
    max-height: 100%;
}

#dap-tool-bar {
    margin: 5px;
}


#dap-input-url {
    width: 150px;
}
#dap-tool-bar>div {
    margin: 2px 0px;
    display: block;
}

.dap-svg-up {
    width: 100%;
    margin-bottom: 3px;
}

.dap-select-graph {
    width: 40px;
    height: 32px;
    background: url('../icons/minigraph_3.png') no-repeat;
}

.dap-select-graph.active {
    background: url('../icons/minigraph_3.png') no-repeat;
    background-color: #e6e6e6;
}

.dap-svg-up-canvas {
    position: absolute;
}

.dap-events-count {
    width: 100%;
}

.dap-events-count span {
    /*float: right;*/
    /*margin-left: 3px;*/
}
.dap-events-count-parent {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}
.dap-events-count {
    /*height: 100px;*/
}

.dap-events-count>thead {
    border-bottom: solid 1px;
}
.dap-events-count>div {
    white-space: nowrap;
    text-overflow: ellipsis;
    /*float: right;*/
    /*margin-left: 3px;*/
}

.dap-events-count>div.tooltip {
    white-space: inherit;
}

.dap-events-count .tooltip {
    background: red;
    /*position: static;*/
}

.dap-tooltip-events-occurred-internal {
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
}
.dap-tooltip-events-occurred-internal>span {

}

div.dap-table-graph-footer {
    width: 100%;
}
div.dap-table-graph-footer>.dap-prediction-table {
    width: 24%;
    display: inline-table;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
}
.dap-my-stats {
    vertical-align: top;
    width: 50px;
    display: inline-block;
}
.dap-controls div{
    margin: 1px auto;
    display: table;

}
.dap-canvas-graph {
    width: calc(100% - 310px);
    display: inline-block;
}
.dap-events-count-parent {
    width: 250px;
    display: inline-block;
}
div.dap-table-graph-footer>.dap-prediction-table th {
    width: 50%;
}
div.dap-table-graph-footer>.dap-prediction-table.dap-table-evens-prediction-result th {
    width: 33%;
}

div.dap-table-graph-footer>.dap-prediction-table thead tr:first-child th{
    text-align: center;
    font-size: 120%;
}
div.dap-table-graph-footer>.dap-prediction-table thead tr:not(:first-child) th{
    border-bottom: 1px solid #000
}

.dap-table-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.dap-pause-graph, .dap-pause-graph.active{
    height: 32px;
    width: 40px;
    background: url('../icons/pause_4.png') no-repeat;
}
.dap-pause-graph.active {
    background-color: #e6e6e6;
}

.dap-miss {

}
.dap-hit, .dap-miss-fp, .dap-miss-fn{
    height: 20px;
    width: 20px;
    margin: auto

}

/* Data Analysis prediction*/
.dap-miss-fp {
    background-image: url('../icons/orange_cross.png');
}

.dap-miss-fn {
    background-image: url('../icons/red_cross.png');
}
.dap-hit {
    background-image: url('../icons/green_check.png');
}

.dap-events-count {
    width: 100%;
}
.dap-events-count .dap-td-1 {
    width: 70%;
    text-align: left;
}
.dap-events-count .dap-td-2{
    width: 20%;
    text-align: right;

}
.dap-events-count .dap-td-3 {
    width: 10%;
    text-align: left;
}


.dap-alert-box{
    background:red;
    width:10px;
    height:10px;
    border: 0px solid white;
    border-radius: 2px;
    color: red;

    animation: parpadeo 2s;
    -webkit-animation: parpadeo 2s;
    -moz-animation: parpadeo 2s;
    /*animation-iteration-count:infinite;*/
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
}

.dap-svg-up {
    border: 1px solid gainsboro;
}

.dap-highlight-text {
    text-shadow : 1px 0px 0px;
}

.dap-sliderControls-time-slider, .dap-sliderControls-window-factor {
    display: inline-flex;
    /*width: 100%;*/
    margin: 10px;
}

.dap-sliderControls-time-slider {
    width: calc(100% - 550px);
}

.dap-sliderControls-window-factor {
    width: calc(100% - 200px);
}


.dap-sliderControls-time-slider-container, .dap-sliderControls-window-factor-container {
    display: inline-block;
    border: solid 1px black;
    padding: 0px 5px;
    margin-bottom: 3px;

}

.dap-sliderControls-start-date {
    float:right;
}

.dap-slider-window-factor-min {
    float: right;
}

.dap-sliderControls-time-slider-container {
    width: 69%;
}
.dap-sliderControls-window-factor-container {
    width: 30%;
}
.dap-sliderControls-time-slider-pre {
    display: inline-block;
    width: 350px;

}

.dap-sliderControls-window-factor-pre {
    display: inline-block;
    width: 125px;

}

#dap-tooltip {
    background: blue;
    display: none;
    position: absolute;
    z-index: 150;
    width: 200px;
    min-height: 100px;
    top: 2px;
    right: 2px;
    opacity: 0.8;
    padding: 2px;
}

#dap-tooltip-content {

}

#dap-tooltip-x {
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    top: 1px;
    right: 3px;
}