<!--  Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<div id="gist12518604" class="gist">
    <div class="gist-file">
        <div class="gist-data gist-syntax">




            <div class="file-data">
                <table class="lines highlight" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td class="line-numbers">
                            <span class="line-number" id="file-index-html-L1" rel="file-index-html-L1">1</span>
                            <span class="line-number" id="file-index-html-L2" rel="file-index-html-L2">2</span>
                            <span class="line-number" id="file-index-html-L3" rel="file-index-html-L3">3</span>
                            <span class="line-number" id="file-index-html-L4" rel="file-index-html-L4">4</span>
                            <span class="line-number" id="file-index-html-L5" rel="file-index-html-L5">5</span>
                            <span class="line-number" id="file-index-html-L6" rel="file-index-html-L6">6</span>
                            <span class="line-number" id="file-index-html-L7" rel="file-index-html-L7">7</span>
                            <span class="line-number" id="file-index-html-L8" rel="file-index-html-L8">8</span>
                            <span class="line-number" id="file-index-html-L9" rel="file-index-html-L9">9</span>
                            <span class="line-number" id="file-index-html-L10" rel="file-index-html-L10">10</span>
                            <span class="line-number" id="file-index-html-L11" rel="file-index-html-L11">11</span>
                            <span class="line-number" id="file-index-html-L12" rel="file-index-html-L12">12</span>
                            <span class="line-number" id="file-index-html-L13" rel="file-index-html-L13">13</span>
                            <span class="line-number" id="file-index-html-L14" rel="file-index-html-L14">14</span>
                            <span class="line-number" id="file-index-html-L15" rel="file-index-html-L15">15</span>
                            <span class="line-number" id="file-index-html-L16" rel="file-index-html-L16">16</span>
                            <span class="line-number" id="file-index-html-L17" rel="file-index-html-L17">17</span>
                            <span class="line-number" id="file-index-html-L18" rel="file-index-html-L18">18</span>
                            <span class="line-number" id="file-index-html-L19" rel="file-index-html-L19">19</span>
                            <span class="line-number" id="file-index-html-L20" rel="file-index-html-L20">20</span>
                            <span class="line-number" id="file-index-html-L21" rel="file-index-html-L21">21</span>
                            <span class="line-number" id="file-index-html-L22" rel="file-index-html-L22">22</span>
                            <span class="line-number" id="file-index-html-L23" rel="file-index-html-L23">23</span>
                            <span class="line-number" id="file-index-html-L24" rel="file-index-html-L24">24</span>
                            <span class="line-number" id="file-index-html-L25" rel="file-index-html-L25">25</span>
                            <span class="line-number" id="file-index-html-L26" rel="file-index-html-L26">26</span>
                            <span class="line-number" id="file-index-html-L27" rel="file-index-html-L27">27</span>
                            <span class="line-number" id="file-index-html-L28" rel="file-index-html-L28">28</span>
                            <span class="line-number" id="file-index-html-L29" rel="file-index-html-L29">29</span>
                            <span class="line-number" id="file-index-html-L30" rel="file-index-html-L30">30</span>
                            <span class="line-number" id="file-index-html-L31" rel="file-index-html-L31">31</span>
                            <span class="line-number" id="file-index-html-L32" rel="file-index-html-L32">32</span>
                            <span class="line-number" id="file-index-html-L33" rel="file-index-html-L33">33</span>
                            <span class="line-number" id="file-index-html-L34" rel="file-index-html-L34">34</span>
                            <span class="line-number" id="file-index-html-L35" rel="file-index-html-L35">35</span>
                            <span class="line-number" id="file-index-html-L36" rel="file-index-html-L36">36</span>
                            <span class="line-number" id="file-index-html-L37" rel="file-index-html-L37">37</span>
                            <span class="line-number" id="file-index-html-L38" rel="file-index-html-L38">38</span>
                            <span class="line-number" id="file-index-html-L39" rel="file-index-html-L39">39</span>
                            <span class="line-number" id="file-index-html-L40" rel="file-index-html-L40">40</span>
                            <span class="line-number" id="file-index-html-L41" rel="file-index-html-L41">41</span>
                            <span class="line-number" id="file-index-html-L42" rel="file-index-html-L42">42</span>
                            <span class="line-number" id="file-index-html-L43" rel="file-index-html-L43">43</span>
                            <span class="line-number" id="file-index-html-L44" rel="file-index-html-L44">44</span>
                        </td>
                        <td class="line-data">
                            <pre class="line-pre"><div class="line" id="file-index-html-LC1"><span class="cp">&lt;!DOCTYPE html&gt;</span></div><div class="line" id="file-index-html-LC2"><span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span class="nt">&gt;</span></div><div class="line" id="file-index-html-LC3">&nbsp;</div><div class="line" id="file-index-html-LC4"><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.d3plus.org/js/d3.js"</span><span class="nt">&gt;&lt;/script&gt;</span></div><div class="line" id="file-index-html-LC5"><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.d3plus.org/js/d3plus.js"</span><span class="nt">&gt;&lt;/script&gt;</span></div><div class="line" id="file-index-html-LC6">&nbsp;</div><div class="line" id="file-index-html-LC7"><span class="nt">&lt;style&gt;</span></div><div class="line" id="file-index-html-LC8">&nbsp;</div><div class="line" id="file-index-html-LC9">  <span class="nt">div</span><span class="nf">#grid</span> <span class="p">{</span></div><div class="line" id="file-index-html-LC10">    <span class="k">margin</span><span class="o">:</span> <span class="m">25px</span> <span class="k">auto</span><span class="p">;</span></div><div class="line" id="file-index-html-LC11">    <span class="k">text-align</span><span class="o">:</span> <span class="k">center</span><span class="p">;</span></div><div class="line" id="file-index-html-LC12">    <span class="k">width</span><span class="o">:</span> <span class="m">650px</span><span class="p">;</span></div><div class="line" id="file-index-html-LC13">  <span class="p">}</span></div><div class="line" id="file-index-html-LC14">&nbsp;</div><div class="line" id="file-index-html-LC15">  <span class="nt">div</span><span class="nc">.color</span> <span class="p">{</span></div><div class="line" id="file-index-html-LC16">    <span class="k">display</span><span class="o">:</span> <span class="k">inline</span><span class="o">-</span><span class="k">block</span><span class="p">;</span></div><div class="line" id="file-index-html-LC17">    <span class="k">font</span><span class="o">:</span> <span class="m">10px</span> <span class="s2">"Helvetica"</span><span class="o">,</span> <span class="s2">"Arial"</span><span class="o">,</span> <span class="k">sans-serif</span><span class="p">;</span></div><div class="line" id="file-index-html-LC18">    <span class="k">margin</span><span class="o">:</span> <span class="m">15px</span><span class="p">;</span></div><div class="line" id="file-index-html-LC19">    <span class="k">padding</span><span class="o">:</span> <span class="m">25px</span> <span class="m">10px</span><span class="p">;</span></div><div class="line" id="file-index-html-LC20">    <span class="k">width</span><span class="o">:</span> <span class="m">50px</span><span class="p">;</span></div><div class="line" id="file-index-html-LC21">  <span class="p">}</span></div><div class="line" id="file-index-html-LC22">&nbsp;</div><div class="line" id="file-index-html-LC23"><span class="nt">&lt;/style&gt;</span></div><div class="line" id="file-index-html-LC24">&nbsp;</div><div class="line" id="file-index-html-LC25"><span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"grid"</span><span class="nt">&gt;&lt;/div&gt;</span></div><div class="line" id="file-index-html-LC26">&nbsp;</div><div class="line" id="file-index-html-LC27"><span class="nt">&lt;script&gt;</span></div><div class="line" id="file-index-html-LC28">&nbsp;</div><div class="line" id="file-index-html-LC29">  <span class="kd">var</span> <span class="nx">colors</span> <span class="o">=</span> <span class="nx">d3plus</span><span class="p">.</span><span class="nx">color</span><span class="p">.</span><span class="nx">scale</span><span class="p">.</span><span class="nx">range</span><span class="p">()</span></div><div class="line" id="file-index-html-LC30">&nbsp;</div><div class="line" id="file-index-html-LC31">  <span class="nx">colors</span> <span class="o">=</span> <span class="nx">colors</span><span class="p">.</span><span class="nx">concat</span><span class="p">([</span><span class="s2">"#525252"</span><span class="p">,</span> <span class="s2">"#737373"</span><span class="p">,</span> <span class="s2">"#969696"</span><span class="p">,</span> <span class="s2">"#bdbdbd"</span><span class="p">,</span> <span class="s2">"#d9d9d9"</span><span class="p">,</span> <span class="s2">"#f7f7f7"</span><span class="p">])</span></div><div class="line" id="file-index-html-LC32">&nbsp;</div><div class="line" id="file-index-html-LC33">  <span class="kd">var</span> <span class="nx">squares</span> <span class="o">=</span> <span class="nx">d3</span><span class="p">.</span><span class="nx">select</span><span class="p">(</span><span class="s2">"#grid"</span><span class="p">).</span><span class="nx">selectAll</span><span class="p">(</span><span class="s2">"div.color"</span><span class="p">)</span></div><div class="line" id="file-index-html-LC34">    <span class="p">.</span><span class="nx">data</span><span class="p">(</span> <span class="nx">colors</span> <span class="p">)</span></div><div class="line" id="file-index-html-LC35">    <span class="p">.</span><span class="nx">enter</span><span class="p">().</span><span class="nx">append</span><span class="p">(</span><span class="s2">"div"</span><span class="p">)</span></div><div class="line" id="file-index-html-LC36">      <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s2">"class"</span><span class="p">,</span><span class="s2">"color"</span><span class="p">)</span></div><div class="line" id="file-index-html-LC37">      <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s2">"id"</span><span class="p">,</span> <span class="nb">String</span><span class="p">)</span></div><div class="line" id="file-index-html-LC38">      <span class="p">.</span><span class="nx">style</span><span class="p">(</span><span class="s2">"background-color"</span><span class="p">,</span> <span class="nb">String</span><span class="p">)</span></div><div class="line" id="file-index-html-LC39">      <span class="p">.</span><span class="nx">style</span><span class="p">(</span><span class="s2">"color"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">d</span><span class="p">){</span></div><div class="line" id="file-index-html-LC40">        <span class="k">return</span> <span class="nx">d3plus</span><span class="p">.</span><span class="nx">color</span><span class="p">.</span><span class="nx">text</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span></div><div class="line" id="file-index-html-LC41">      <span class="p">})</span></div><div class="line" id="file-index-html-LC42">      <span class="p">.</span><span class="nx">text</span><span class="p">(</span><span class="nb">String</span><span class="p">)</span></div><div class="line" id="file-index-html-LC43">&nbsp;</div><div class="line" id="file-index-html-LC44"><span class="nt">&lt;/script&gt;</span></div></pre>
                        </td>
                    </tr>
                    </tbody></table>
            </div>

        </div>

    </div>
</div>