<div id="gist9042807" class="gist">
    <div class="gist-file">
        <div class="gist-data gist-syntax">




            <div class="file-data">
                <table class="lines highlight" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td class="line-numbers">
                            <span class="line-number" id="file-index-html-L1" rel="file-index-html-L1">1</span>
                            <span class="line-number" id="file-index-html-L2" rel="file-index-html-L2">2</span>
                            <span class="line-number" id="file-index-html-L3" rel="file-index-html-L3">3</span>
                            <span class="line-number" id="file-index-html-L4" rel="file-index-html-L4">4</span>
                            <span class="line-number" id="file-index-html-L5" rel="file-index-html-L5">5</span>
                            <span class="line-number" id="file-index-html-L6" rel="file-index-html-L6">6</span>
                            <span class="line-number" id="file-index-html-L7" rel="file-index-html-L7">7</span>
                            <span class="line-number" id="file-index-html-L8" rel="file-index-html-L8">8</span>
                            <span class="line-number" id="file-index-html-L9" rel="file-index-html-L9">9</span>
                            <span class="line-number" id="file-index-html-L10" rel="file-index-html-L10">10</span>
                            <span class="line-number" id="file-index-html-L11" rel="file-index-html-L11">11</span>
                            <span class="line-number" id="file-index-html-L12" rel="file-index-html-L12">12</span>
                            <span class="line-number" id="file-index-html-L13" rel="file-index-html-L13">13</span>
                            <span class="line-number" id="file-index-html-L14" rel="file-index-html-L14">14</span>
                            <span class="line-number" id="file-index-html-L15" rel="file-index-html-L15">15</span>
                            <span class="line-number" id="file-index-html-L16" rel="file-index-html-L16">16</span>
                            <span class="line-number" id="file-index-html-L17" rel="file-index-html-L17">17</span>
                            <span class="line-number" id="file-index-html-L18" rel="file-index-html-L18">18</span>
                            <span class="line-number" id="file-index-html-L19" rel="file-index-html-L19">19</span>
                            <span class="line-number" id="file-index-html-L20" rel="file-index-html-L20">20</span>
                            <span class="line-number" id="file-index-html-L21" rel="file-index-html-L21">21</span>
                            <span class="line-number" id="file-index-html-L22" rel="file-index-html-L22">22</span>
                            <span class="line-number" id="file-index-html-L23" rel="file-index-html-L23">23</span>
                            <span class="line-number" id="file-index-html-L24" rel="file-index-html-L24">24</span>
                            <span class="line-number" id="file-index-html-L25" rel="file-index-html-L25">25</span>
                            <span class="line-number" id="file-index-html-L26" rel="file-index-html-L26">26</span>
                            <span class="line-number" id="file-index-html-L27" rel="file-index-html-L27">27</span>
                            <span class="line-number" id="file-index-html-L28" rel="file-index-html-L28">28</span>
                            <span class="line-number" id="file-index-html-L29" rel="file-index-html-L29">29</span>
                            <span class="line-number" id="file-index-html-L30" rel="file-index-html-L30">30</span>
                            <span class="line-number" id="file-index-html-L31" rel="file-index-html-L31">31</span>
                            <span class="line-number" id="file-index-html-L32" rel="file-index-html-L32">32</span>
                            <span class="line-number" id="file-index-html-L33" rel="file-index-html-L33">33</span>
                            <span class="line-number" id="file-index-html-L34" rel="file-index-html-L34">34</span>
                            <span class="line-number" id="file-index-html-L35" rel="file-index-html-L35">35</span>
                            <span class="line-number" id="file-index-html-L36" rel="file-index-html-L36">36</span>
                            <span class="line-number" id="file-index-html-L37" rel="file-index-html-L37">37</span>
                            <span class="line-number" id="file-index-html-L38" rel="file-index-html-L38">38</span>
                        </td>
                        <td class="line-data">
                            <pre class="line-pre"><div class="line" id="file-index-html-LC1"><span class="cp">&lt;!doctype html&gt;</span></div><div class="line" id="file-index-html-LC2"><span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span class="nt">&gt;</span></div><div class="line" id="file-index-html-LC3">&nbsp;</div><div class="line" id="file-index-html-LC4"><span class="c">&lt;!-- load D3js --&gt;</span></div><div class="line" id="file-index-html-LC5"><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.d3plus.org/js/d3.js"</span><span class="nt">&gt;&lt;/script&gt;</span></div><div class="line" id="file-index-html-LC6">&nbsp;</div><div class="line" id="file-index-html-LC7"><span class="c">&lt;!-- load topojson library --&gt;</span></div><div class="line" id="file-index-html-LC8"><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.d3plus.org/js/topojson.js"</span><span class="nt">&gt;&lt;/script&gt;</span></div><div class="line" id="file-index-html-LC9">&nbsp;</div><div class="line" id="file-index-html-LC10"><span class="c">&lt;!-- load D3plus after D3js --&gt;</span></div><div class="line" id="file-index-html-LC11"><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.d3plus.org/js/d3plus.js"</span><span class="nt">&gt;&lt;/script&gt;</span></div><div class="line" id="file-index-html-LC12">&nbsp;</div><div class="line" id="file-index-html-LC13"><span class="c">&lt;!-- create container element for visualization --&gt;</span></div><div class="line" id="file-index-html-LC14"><span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"viz"</span><span class="nt">&gt;&lt;/div&gt;</span></div><div class="line" id="file-index-html-LC15">&nbsp;</div><div class="line" id="file-index-html-LC16"><span class="nt">&lt;script&gt;</span></div><div class="line" id="file-index-html-LC17">&nbsp;</div><div class="line" id="file-index-html-LC18">  <span class="c1">// sample data array</span></div><div class="line" id="file-index-html-LC19">  <span class="kd">var</span> <span class="nx">sample_data</span> <span class="o">=</span> <span class="p">[</span></div><div class="line" id="file-index-html-LC20">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">2315987123</span><span class="p">,</span> <span class="s2">"country"</span><span class="o">:</span> <span class="s2">"nausa"</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"United States"</span><span class="p">},</span></div><div class="line" id="file-index-html-LC21">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">38157121349</span><span class="p">,</span> <span class="s2">"country"</span><span class="o">:</span> <span class="s2">"aschn"</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"China"</span><span class="p">},</span></div><div class="line" id="file-index-html-LC22">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">21891735098</span><span class="p">,</span> <span class="s2">"country"</span><span class="o">:</span> <span class="s2">"euesp"</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"Spain"</span><span class="p">},</span></div><div class="line" id="file-index-html-LC23">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">9807134982</span><span class="p">,</span> <span class="s2">"country"</span><span class="o">:</span> <span class="s2">"sabra"</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"Brazil"</span><span class="p">}</span></div><div class="line" id="file-index-html-LC24">  <span class="p">]</span></div><div class="line" id="file-index-html-LC25">&nbsp;</div><div class="line" id="file-index-html-LC26">  <span class="c1">// instantiate d3plus</span></div><div class="line" id="file-index-html-LC27">  <span class="kd">var</span> <span class="nx">visualization</span> <span class="o">=</span> <span class="nx">d3plus</span><span class="p">.</span><span class="nx">viz</span><span class="p">()</span></div><div class="line" id="file-index-html-LC28">    <span class="p">.</span><span class="nx">container</span><span class="p">(</span><span class="s2">"#viz"</span><span class="p">)</span>        <span class="c1">// container DIV to hold the visualization</span></div><div class="line" id="file-index-html-LC29">    <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">sample_data</span><span class="p">)</span>        <span class="c1">// data to use with the visualization</span></div><div class="line" id="file-index-html-LC30">    <span class="p">.</span><span class="nx">coords</span><span class="p">(</span><span class="s2">"countries.json"</span><span class="p">)</span> <span class="c1">// pass topojson coordinates</span></div><div class="line" id="file-index-html-LC31">    <span class="p">.</span><span class="nx">type</span><span class="p">(</span><span class="s2">"geo_map"</span><span class="p">)</span>          <span class="c1">// visualization type</span></div><div class="line" id="file-index-html-LC32">    <span class="p">.</span><span class="nx">id</span><span class="p">(</span><span class="s2">"country"</span><span class="p">)</span>            <span class="c1">// key for which our data is unique on</span></div><div class="line" id="file-index-html-LC33">    <span class="p">.</span><span class="nx">text</span><span class="p">(</span><span class="s2">"name"</span><span class="p">)</span>             <span class="c1">// key to use for display text</span></div><div class="line" id="file-index-html-LC34">    <span class="p">.</span><span class="nx">color</span><span class="p">(</span><span class="s2">"value"</span><span class="p">)</span>           <span class="c1">// key for coloring countries</span></div><div class="line" id="file-index-html-LC35">    <span class="p">.</span><span class="nx">tooltip</span><span class="p">(</span><span class="s2">"value"</span><span class="p">)</span>         <span class="c1">// keys to place in tooltip</span></div><div class="line" id="file-index-html-LC36">    <span class="p">.</span><span class="nx">draw</span><span class="p">()</span>                   <span class="c1">// finally, draw the visualization!</span></div><div class="line" id="file-index-html-LC37">&nbsp;</div><div class="line" id="file-index-html-LC38"><span class="nt">&lt;/script&gt;</span></div></pre>
                        </td>
                    </tr>
                    </tbody></table>
            </div>

        </div>
    </div>
</div>