<!--  Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<div id="gist9029130" class="gist">
    <div class="gist-file">
        <div class="gist-data gist-syntax">




            <div class="file-data">
                <table class="lines highlight" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td class="line-numbers">
                            <span class="line-number" id="file-index-html-L1" rel="file-index-html-L1">1</span>
                            <span class="line-number" id="file-index-html-L2" rel="file-index-html-L2">2</span>
                            <span class="line-number" id="file-index-html-L3" rel="file-index-html-L3">3</span>
                            <span class="line-number" id="file-index-html-L4" rel="file-index-html-L4">4</span>
                            <span class="line-number" id="file-index-html-L5" rel="file-index-html-L5">5</span>
                            <span class="line-number" id="file-index-html-L6" rel="file-index-html-L6">6</span>
                            <span class="line-number" id="file-index-html-L7" rel="file-index-html-L7">7</span>
                            <span class="line-number" id="file-index-html-L8" rel="file-index-html-L8">8</span>
                            <span class="line-number" id="file-index-html-L9" rel="file-index-html-L9">9</span>
                            <span class="line-number" id="file-index-html-L10" rel="file-index-html-L10">10</span>
                            <span class="line-number" id="file-index-html-L11" rel="file-index-html-L11">11</span>
                            <span class="line-number" id="file-index-html-L12" rel="file-index-html-L12">12</span>
                            <span class="line-number" id="file-index-html-L13" rel="file-index-html-L13">13</span>
                            <span class="line-number" id="file-index-html-L14" rel="file-index-html-L14">14</span>
                            <span class="line-number" id="file-index-html-L15" rel="file-index-html-L15">15</span>
                            <span class="line-number" id="file-index-html-L16" rel="file-index-html-L16">16</span>
                            <span class="line-number" id="file-index-html-L17" rel="file-index-html-L17">17</span>
                            <span class="line-number" id="file-index-html-L18" rel="file-index-html-L18">18</span>
                            <span class="line-number" id="file-index-html-L19" rel="file-index-html-L19">19</span>
                            <span class="line-number" id="file-index-html-L20" rel="file-index-html-L20">20</span>
                            <span class="line-number" id="file-index-html-L21" rel="file-index-html-L21">21</span>
                            <span class="line-number" id="file-index-html-L22" rel="file-index-html-L22">22</span>
                            <span class="line-number" id="file-index-html-L23" rel="file-index-html-L23">23</span>
                            <span class="line-number" id="file-index-html-L24" rel="file-index-html-L24">24</span>
                            <span class="line-number" id="file-index-html-L25" rel="file-index-html-L25">25</span>
                            <span class="line-number" id="file-index-html-L26" rel="file-index-html-L26">26</span>
                            <span class="line-number" id="file-index-html-L27" rel="file-index-html-L27">27</span>
                            <span class="line-number" id="file-index-html-L28" rel="file-index-html-L28">28</span>
                            <span class="line-number" id="file-index-html-L29" rel="file-index-html-L29">29</span>
                            <span class="line-number" id="file-index-html-L30" rel="file-index-html-L30">30</span>
                            <span class="line-number" id="file-index-html-L31" rel="file-index-html-L31">31</span>
                            <span class="line-number" id="file-index-html-L32" rel="file-index-html-L32">32</span>
                            <span class="line-number" id="file-index-html-L33" rel="file-index-html-L33">33</span>
                            <span class="line-number" id="file-index-html-L34" rel="file-index-html-L34">34</span>
                        </td>
                        <td class="line-data">
                            <pre class="line-pre"><div class="line" id="file-index-html-LC1"><span class="cp">&lt;!doctype html&gt;</span></div><div class="line" id="file-index-html-LC2"><span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span class="nt">&gt;</span></div><div class="line" id="file-index-html-LC3">&nbsp;</div><div class="line" id="file-index-html-LC4"><span class="c">&lt;!-- load D3js --&gt;</span></div><div class="line" id="file-index-html-LC5"><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.d3plus.org/js/d3.js"</span><span class="nt">&gt;&lt;/script&gt;</span></div><div class="line" id="file-index-html-LC6">&nbsp;</div><div class="line" id="file-index-html-LC7"><span class="c">&lt;!-- load D3plus after D3js --&gt;</span></div><div class="line" id="file-index-html-LC8"><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"http://www.d3plus.org/js/d3plus.js"</span><span class="nt">&gt;&lt;/script&gt;</span></div><div class="line" id="file-index-html-LC9">&nbsp;</div><div class="line" id="file-index-html-LC10"><span class="c">&lt;!-- create container element for visualization --&gt;</span></div><div class="line" id="file-index-html-LC11"><span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"viz"</span><span class="nt">&gt;&lt;/div&gt;</span></div><div class="line" id="file-index-html-LC12">&nbsp;</div><div class="line" id="file-index-html-LC13"><span class="nt">&lt;script&gt;</span></div><div class="line" id="file-index-html-LC14">&nbsp;</div><div class="line" id="file-index-html-LC15">  <span class="c1">// sample data array</span></div><div class="line" id="file-index-html-LC16">  <span class="kd">var</span> <span class="nx">sample_data</span> <span class="o">=</span> <span class="p">[</span></div><div class="line" id="file-index-html-LC17">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">100</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"alpha"</span><span class="p">},</span></div><div class="line" id="file-index-html-LC18">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">70</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"beta"</span><span class="p">},</span></div><div class="line" id="file-index-html-LC19">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">40</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"gamma"</span><span class="p">},</span></div><div class="line" id="file-index-html-LC20">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">15</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"delta"</span><span class="p">},</span></div><div class="line" id="file-index-html-LC21">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">5</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"epsilon"</span><span class="p">},</span></div><div class="line" id="file-index-html-LC22">    <span class="p">{</span><span class="s2">"value"</span><span class="o">:</span> <span class="mi">1</span><span class="p">,</span> <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"zeta"</span><span class="p">}</span></div><div class="line" id="file-index-html-LC23">  <span class="p">]</span></div><div class="line" id="file-index-html-LC24">&nbsp;</div><div class="line" id="file-index-html-LC25">  <span class="c1">// instantiate d3plus</span></div><div class="line" id="file-index-html-LC26">  <span class="kd">var</span> <span class="nx">visualization</span> <span class="o">=</span> <span class="nx">d3plus</span><span class="p">.</span><span class="nx">viz</span><span class="p">()</span></div><div class="line" id="file-index-html-LC27">    <span class="p">.</span><span class="nx">container</span><span class="p">(</span><span class="s2">"#viz"</span><span class="p">)</span>  <span class="c1">// container DIV to hold the visualization</span></div><div class="line" id="file-index-html-LC28">    <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">sample_data</span><span class="p">)</span>  <span class="c1">// data to use with the visualization</span></div><div class="line" id="file-index-html-LC29">    <span class="p">.</span><span class="nx">type</span><span class="p">(</span><span class="s2">"tree_map"</span><span class="p">)</span>   <span class="c1">// visualization type</span></div><div class="line" id="file-index-html-LC30">    <span class="p">.</span><span class="nx">id</span><span class="p">(</span><span class="s2">"name"</span><span class="p">)</span>         <span class="c1">// key for which our data is unique on</span></div><div class="line" id="file-index-html-LC31">    <span class="p">.</span><span class="nx">size</span><span class="p">(</span><span class="s2">"value"</span><span class="p">)</span>      <span class="c1">// sizing of blocks</span></div><div class="line" id="file-index-html-LC32">    <span class="p">.</span><span class="nx">draw</span><span class="p">()</span>             <span class="c1">// finally, draw the visualization!</span></div><div class="line" id="file-index-html-LC33">&nbsp;</div><div class="line" id="file-index-html-LC34"><span class="nt">&lt;/script&gt;</span></div></pre>
                        </td>
                    </tr>
                    </tbody></table>
            </div>

        </div>
    </div>
</div>