<div>
    <h1 class="page-header">Dynamic population distribution</h1>

    <div class="row" id="source-row">
        <div class="col-lg-4">
            <div class="navbar navbar-default navbar-left" role="search">
                <form class="navbar-form navbar-left" role="search">
                    <img src="icons/database.png"/>
                    <a class="btn btn-default" id="titanic-button" onclick="setTitanicSet()">Titanic</a>
                    <a class="btn btn-default" id="events-button" onclick="setEventsSet()">Events</a>
                </form>

            </div>
            <!--<div class="input-group input-group-lg">-->
                <!--<span class="input-group-addon">-->
                    <!--<span class="glyphicon glyphicon-file"></span>-->
                <!--</span>-->
                <!--<input id="form-src" class="form-control" type="text" placeholder="souce file" />-->
            <!--</div>-->
        </div>
        <div class="col-lg-2">
            <button class="btn btn-default" onclick="reset()">Reset</button>
        </div>
        <div class="col-lg-2">
        </div>
    </div>




    <div class="row" id="dd-attributes-row">

        <h3>Attributes</h3>
        <div id="dd-attributes" class="row">
            <div class="col-lg-4">
                <div class="input-group input-group-sm" id="group-select-category-col">
                    <div id="dd-select-category"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group input-group-sm" id="group-select-primary-col" >
                    <div id="dd-select-primary-col"/>
                </div>
            </div>
        </div>


    </div>

    <div class="row" id="dd-graphics-col">
        <h3>Graphic</h3>
        <div id="dynamic-distribution-chart-div">
        </div>
    </div>

    <div class="row" id="dd-filters-col" hidden>
        <h3>Filters</h3>
        <div class="col-lg-4" id="dd-filter-category">
        </div>
        <div class="col-lg-4" id="filter_primary">
        </div>
        <div class="col-lg-4" id="filter_secondary">
        </div>
    </div>

    <script>

        if (dynamicDistributionObject !== undefined) {
            reset();
        }


    </script>
</div>