<<<<<<< HEAD
<div>
        <script src="js/src/stats.js"></script>
    <h1 class="page-header">Computer Resources Monitor</h1>
    <main id="charts">
        <section class="chart template">
            <h2 class="title"></h2>
            <canvas width="600" height="80"></canvas>
            <ul class="stats">
                <li class="stat template">
                    <span class="stat-name"></span>
                    <span class="stat-value"></span>
                </li>
            </ul>
        </section>
    </main>
=======

<div>
<head>
    <meta charset="utf-8">
    <title>Computer Resources</title>
    <script src="js/src/stats.js"></script>

</head>

<header>
    <h1> Computer Resources</h1>
</header>

<main id="charts">
    <section class="chart template">
        <h2 class="title"></h2>
        <canvas width="600" height="80"></canvas>
        <ul class="stats">
            <li class="stat template">
                <span class="stat-name"></span>
                <span class="stat-value"></span>
            </li>
        </ul>
    </section>
</main>


>>>>>>> upstreamJ/devel
</div>