<!--  Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="main row">
    <div id="at-left-content" class="main-left">
        <div class="col-lg-12" id="at-switcher-nat">
            NAT activated:
             <div class="at-switcher">
                 <input type="checkbox"  id="at-nat-activated" value="1" checked>
             </div>
        </div>
        <div class="col-lg-12" id="at-connections">
            <div class="btn-group at-connection-row dashboard-templates" style="margin: 5px">
                <a class="btn btn-success at-connection-button"></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 at-col" id="at-col-left">
        <div id="at-info-icon" onclick="atInfoClick()" class="off"></div>
        <div id="at-info" class="off row">
            <div id="at-hour" class="col-lg-6"></div>
            <div class="col-lg-6">
                <div class="col-lg-6">Max Window Time</div>
                <div id="at-window-time" class="col-lg-6"></div>
                <div class="col-lg-6">Max Prediction Time</div>
                <div id="at-prediction-time" class="col-lg-6"></div>
            </div>

        </div>

        <table class="table table-condensed" id="at-table-left">
            <thead>
                <tr>
                    <th colspan="6" class="at-table-header">
                        Event predictions
                    </th>
                </tr>
                <tr>
                    <th class="col-md-3 at-cell-event"><span onclick="atAlertSortByName()">Event</span>
                        <sub class="at-hand-icon" onclick="atShowAll()">all</sub>
                        <sub class="at-hand-icon" onclick="atShowAlerted()">alerted</sub>
                        <sub class="at-hand-icon" onclick="atShowReceived()">updated</sub></th>
                    <th class="col-md-1 at-cell-origin"><span onclick="atAlertSortByOrigin()">Origin</span></th>
                    <th class="col-md-1 at-cell-alert"><span onclick="atAlertSortByAlert()">Alert</span></th>
                    <th class="col-md-1 at-cell-prediction"><span onclick="atAlertSortByPrediction()">Prediction</span></th>
                    <th class="col-md-1 at-cell-start"><span onclick="atAlertSortByStartDate()">Start</span></th>
                    <th class="col-md-1 at-cell-end"><span onclick="atAlertSortByEndDate()">End</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="dashboard-templates" onclick="atClickAlertRow (event.target)">
                    <td ><span class="at-hand-icon at-cell-event"></span> </td>
                    <td class="at-cell-origin"></td>
                    <td class="at-cell-alert"></td>
                    <td class="at-cell-prediction"></td>
                    <td class="at-cell-start"></td>
                    <td class="at-cell-end"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-3" id="at-col-center">
        <table class="table table-condensed at-table at-hidden-element" id="at-table-model">
            <thead>
            <tr>
                <th colspan="3" class="at-table-header">
                    Weights of events for "<span id="at-alert-selected-name"></span>"
                </th>
            </tr>
            <tr>
                <th class="col-md-3">Event</th>
                <th class="col-md-1">Weight</th>
                <th class="col-md-1">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr class="dashboard-templates">
                <td class="at-cell-event"></td>
                <td class="at-cell-weight"></td>
                <td class="at-cell-time"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-3 row at-col" id="at-col-right">
        <div>
            <table class="table table-condensed at-table" id="at-table-events">
                <thead>
                <tr>
                    <th colspan="2" class="at-table-header">
                        Events currently in the window
                    </th>
                </tr>
                <tr>
                    <th class="col-md-3">Event</th>
                    <th class="col-md-1">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr class="dashboard-templates">
                    <td class="at-cell-event"></td>
                    <td class="at-cell-time"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-condensed at-table" id="at-table-results">
                <thead>
                <tr>
                    <th colspan="2" class="at-table-header">
                        <span>Previous predictions</span>
                        <span><button id="at-clear-prediction-result-button" class="btn btn-default footer-button" onclick="atClearResults()"><span class="glyphicon glyphicon-trash"></span></button></span>
                    </th>
                </tr>
                <tr>
                    <th class="col-md-3">Event
                        <span class="at-tip">
                            <!--(<span id="at-tip-correctly" class="bg-success">Correct</span>-->
                            <!--<span id="at-tip-correctly" class="bg-danger">False negative</span>-->
                            <!--<span id="at-tip-correctly" class="bg-warning">False positive</span>)-->
                        </span>
                    </th>
                    <th class="col-md-1">Result</th>
                    <th class="col-md-1">Time</th>
                </tr>
                </thead>
                <tbody>

                <tr class="dashboard-templates">
                    <td class="at-cell-event"></td>
                    <td class="at-cell-result"></td>
                    <td class="at-cell-time"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" ><span id="at-tip-correctly" class="text-success">Correct</span>
                        <span id="at-tip-correctly" class="text-danger">False negative</span>
                        <span id="at-tip-correctly" class="text-warning">False positive</span>
                    </td>
            </tr>
            </tfoot>
        </table>
        <!--<table class="table table-condensed at-table" id="at-table-results">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th colspan="2" class="at-table-header">-->
                        <!--<span>Previous predictions</span>-->
                        <!--<span><button id="at-clear-prediction-result-button" class="btn btn-default footer-button" onclick="atClearResults()"><span class="glyphicon glyphicon-trash"></span></button></span>-->
                    <!--</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th class="col-md-3">Event-->
                        <!--<span class="at-tip">-->
                            <!--(<span id="at-tip-correctly" class="bg-success">Correct</span>-->
                            <!--<span id="at-tip-correctly" class="bg-danger">False negative</span>-->
                            <!--<span id="at-tip-correctly" class="bg-warning">False positive</span>)-->
                        <!--</span>-->
                    <!--</th>-->
                    <!--<th class="col-md-1">Time</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr class="dashboard-templates">-->
                    <!--<td class="at-cell-event"></td>-->
                    <!--<td class="at-cell-time"></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>
</div>
<script>
    $(function(){
        atResizeFunction();
        $(window).resize(atResizeFunction)
        clear = atClearFunction;
//        enableFooter();
        enableLeftColumn();
        atStartRoutines();

        if (GLOBAL_DEBUG){
            atDebugRoutines ();
        }
    })

</script>