<div>
    <!-- Everything must be inside a div so that the ejs works -->
    <div class="row" id="odv-tool-bar">
        <div class="col-lg-4">
            <h1 class="page-header">Computer Resources</h1>
        </div>
        <div class="col-lg-8">

            <div class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">ws://</div>
                        <input id="odv-input-url" type="text" class="form-control my-form" placeholder="url" onkeydown="onlineResourceView_postLoad_enter(event)">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" id="odv-upload-button" onclick="onlineResourceView_postLoad_click()">Load</button>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-toggle" data-toggle="buttons" id="odv-columns-clicks" onclick="columnsClick()">
                        <label class="btn btn-default">
                            <input name="PassengerId" value="1" type="radio">1</label>
                        <label class="btn btn-primary active">
                            <input name="PassengerId" value="2" type="radio">2</label>
                        <label class="btn btn-default">
                            <input name="PassengerId" value="3" type="radio">3</label>
                        <label class="btn btn-default">
                            <input name="PassengerId" value="4" type="radio">4</label>
                    </div>
                </div>
                <div class="form-group">
                    <div id="odv-velocity-slider-panel" class="div-border center-content-panel">
                    </div>
                </div>
                <div class="form-group">
                    <div id="odv-threshold-slider-panel" class="div-border center-content-panel">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" id="odv-increment-charts-height" onclick="incrementChartsHeight()">+Height</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" id="odv-decrement-charts-height" onclick="decrementChartsHeight()">-Height</button>
                </div>
                <!--<div class="form-group">-->
                    <!--<button class="btn btn-default" onclick="save()">save</button>-->
                    <!--<button class="btn btn-default" onclick="myPause()">pause</button>-->
                    <!--<button class="btn btn-default" onclick="myResume()">resume</button>-->
                    <!--<button class="btn btn-default" onclick="restorePause()">restorePause</button>-->
                    <!--<button class="btn btn-default" onclick="myRestore()">restore</button>-->
                <!--</div>-->
            </div>



        </div>
    </div>
    <div class="row">
        <div class="col-lg-10" id="odv-charts">

        </div>
        <div class="odv-chart template">
            <h2 class="title"></h2>
            <canvas height="80"  class="odv-canvas"></canvas>
            <div class="my-stats" style="margin-bottom: 2px;">
            <div class="div-border">
                <div class="stats">
                    <div class="stat template">
                        <span class="stat-name"></span>
                        <span class="stat-value"></span>
                        <!--<input type="button" class="stat-button" value="Color Map" style="width: 75px; height: 25px;"/>-->
                    </div>
                </div>
            </div>
            </div>
            <div class="controls">
                <div class="div-border center-content-panel odv-chart-slider">
                </div>
                <div class="center-content-panel">
                    <button type="button" data-toggle="button" class="btn btn-default odv-dynamic-height" onclick="setDynamicHeight(event)">Dynamic height</button>
                </div>
                <div class="center-content-panel">
                    <button type="button" class="btn btn-default" onclick="save(event.target)">Save</button>
                </div>
                <div class="center-content-panel">
                    <button type="button" class="btn btn-default" onclick="pause(event.target)">Pause</button>
                </div>
                <div class="center-content-panel">
                    <button type="button" class="btn btn-default" onclick="resume(event.target)">Resume</button>
                </div>

            </div>
        </div>
        <div class="col-lg-2" id="odv-events-col">
            <h2>Events</h2>
            <div class="col-lg-2" id="odv-events-list">
                <div class="btn-group odv-button-entry template" >
                    <a class="btn btn-default odv-entry-description"  id="dd-button-data-data/titanic.csv">a</a>
                    <a class="btn btn-default odv-entry-delete"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#"+ODV_VELOCITY_SLIDER_PANEL).append('<div class="text" style="padding-right: 15px" >Refresh Time</div>')
            var slider = jQuery('<div/>').slider({
                range: 'min',
                min: 10,
                max: 100,
                value: 50,
                step: 1,
                stop : function (event, ui){
                    changeRefreshTime(ui.value);
                }
            }).appendTo("#"+ODV_VELOCITY_SLIDER_PANEL);
            slider.width(100);

            $("#"+ODV_THRESHOLD_SLIDER_PANEL).append('<div style="padding-right: 15px" >Threshold: <span id='+ODV_SPAN_THRESHOLD_VALUE+'>100%</span></div>')
            setThreshold(100);
            var slider2 = jQuery('<div/>').slider({
                range: 'min',
                min: 0,
                max: 100,
                value: 100,
                step: 1,
                slide: function (event,ui){
                    $('#'+ODV_SPAN_THRESHOLD_VALUE).text(ui.value+"%")
                },
                stop : function (event, ui){
                    setThreshold(ui.value);
                }
            }).appendTo("#"+ODV_THRESHOLD_SLIDER_PANEL);
            slider2.width(100);
            // Altura dinamica
            $("#"+ODV_EVENTS_COL).css('height','calc(100vh - '+(parseInt($("#"+ODV_EVENTS_COL).offset().top) + 20)+'px)');
            $("#"+ODV_EVENTS_LIST).css('max-height','calc(100vh - '+(parseInt($("#"+ODV_EVENTS_LIST).offset().top) + 20)+'px)');
//            $("#"+ODV_EVENTS_LIST).css('height','223px');
        })
    </script>
</div>