<div id="tan-main">
    <div class="row main">
        <div class="col-lg-4">
            <h1 class="page-header">Temporal Association Network</h1>
        </div>
        <div class="form-inline" role="form">
            <div class="form-group">
                <!--<div class="input-group">-->
                    <!--<div class="input-group-addon" id="tcr-prefix-url">ws://</div>-->
                    <!--<input id="tan-input-url" type="text" class="form-control my-form" placeholder="url" onkeydown="">-->
                <!--</div>-->
                <div class="input-group">
                    5000 ms, <button class="btn btn-default" id="tan-upload-button" onclick="setTimeout(tcr_load.bind($('#tcr-input-url').val()),100)">Load</button>
                </div>
            </div>
        </div>

    </div>
    <div>

        <style type="text/css">
            #tan-graph-container {
                /*margin: auto;*/
                /*border: 1px solid;*/
            }
        </style>

        <div id="tan-graph-container">
            <div class="demo flowchart-demo" id="tan-graph-csv">
            </div>

        </div>

        <script>
//            sigma.parsers.json('data/tan-graph-data.json', {
//                container: 'tan-graph-container',
//                settings: {
//                    defaultNodeColor: '#ec5148'
//                }
//            });
        </script>

    </div>

    <script>
        /* CSS dynamic styles*/
        $(function (){
            enableLeftColumn()
            enableFooter();
//            $("#"+TITLE_VIEW_ID).text(TAN_TITLE)
            toggleLeftColumn(false)
            tanResizeFunction();
            console.log("tan:resize")

            $(window).resize(tanResizeFunction)
            clear = function (){
                $(window).unbind('resize',tanResizeFunction())
            }
        })

        $(function(){
            if (GLOBAL_DEBUG) {
                tcr_load("http://localhost:1337")
            }
        })
    </script>
</div>