<div class="main">

    <script>
        var DEBUG_CHECKBOX = "config-debug-checkbox"
    </script>
    <div >
        <div class="col-lg-12">
            <h1 class="page-header">Configuration page</h1>
        </div>
    </div>
    <div >

        <div class="col-lg-offset-5 col-lg-2">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Debug Mode</td>
                    <td><input id="config-debug-checkbox" type="checkbox"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div >
        <div class="col-lg-12 text-center">
            <button class="btn btn-default" id="dd-upload-button" onclick="saveRoutine()">Save</button>
        </div>
    </div>
    <script>
        var isDebug
        $(function(){
            isDebug = getCookie(COOKIE_DEBUG) == "true";
            if (isDebug) {
                document.getElementById(DEBUG_CHECKBOX).checked = debug;
            }

        })
        var saveRoutine = function(){
            GLOBAL_DEBUG = document.getElementById(DEBUG_CHECKBOX).checked;
            setCookie(COOKIE_DEBUG,GLOBAL_DEBUG,10);
            location.reload();
        }

    </script>
</div>