<div>
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-12">
            <h2>Welcome to the L3P3 Dashboard Project</h2>
            <p>This is a Center for Open Middleware interactive visualization project based completely on web technologies. Currently, only the single node viewer is active and fully working. More will be added in time.</p>
            <p>This dashboard is programmed by José Manuel Navarro.</p>
        </div>
    </div>
</div>