<!--  Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<div id="pv-main" class="main">
    <!-- Everything must be inside a div so that the ejs works -->
    <div class="dashboard-templates">
        <div class="pv-footer-chart-stats" class="col-lg-12">
            <div class="pv-table-graph-footer">
                <div class="pv-table-title"></div>
                <div class="pv-table-evens-occurrence pv-prediction-table">
                    <table class="table table-condensed pv-table-evens-occurrence">
                        <thead>
                            <tr>
                                <th colspan="2">Events</th>
                            </tr>
                            <tr>
                                <th>Event</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="dashboard-templates">
                                <td class="pv-td-1"></td><td class="pv-td-2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pv-table-evens-prediction pv-prediction-table">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="2">Event predictions</th>
                            </tr>
                            <tr>
                                <th>Event</th>
                                <th>Prediction</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="dashboard-templates">
                            <td class="pv-td-1"></td><td class="pv-td-2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pv-table-evens-prediction-result pv-prediction-table">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th colspan="3">
                                Prediction results
                                <span style="float: right">
                                <button class="btn btn-default footer-button" onclick="cleanPredictionResults()"><span class="glyphicon glyphicon-trash"></span></button>
                                    </span>
                            </th>


                        </tr>
                        <tr>
                            <th>Event</th>
                            <th>Timestamp</th>
                            <th>Prediction result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="dashboard-templates">
                            <td class="pv-td-1"></td><td class="pv-td-2"></td><td class="pv-td-3"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pv-table-evens-alerts pv-prediction-table">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th colspan="2">
                                Alerts
                            </th>


                        </tr>
                        <tr>
                            <th>Event</th>
                            <th>Alert Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="dashboard-templates">
                            <td class="pv-td-1"></td>
                            <td class="pv-td-2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="hr"></div>
            </div>
            <!--<div id="pv-footer-chart-stats-events">-->

            <!--</div>-->

        </div>

        <table class="table table-condensed">
            <thead>
            <tr>
                <td>Id</td>
            </tr>
            <tr>
                <td>Time</td><td>Event</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <!-- template pv-tool-bar-->
        <div id="pv-tool-bar" class="form-inline" role="form">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon" id="pv-prefix-url" data-toggle="tooltip" data-original-title="You can try this server: pvs.herokuapp.com">ws://</div>
                    <input id="pv-input-url" type="text" class="form-control my-form" placeholder="url" onkeydown="pvLoadSource(event)">
                </div>
                <button class="btn btn-default" id="pv-upload-button" onclick="pvLoadSource_click()">Load</button>
            </div>

            <div class="form-group">
                <button class="btn btn-default" id="pv-add-graph" onclick="pvAddGraph()">Add Graph</button>
                <div class="btn-group btn-toggle" data-toggle="buttons" id="pv-columns-click" onclick="pvColumnsClick(event)">
                    <label class="btn btn-primary active">
                        <input name="pv-columns" value="1" type="radio">1</label>
                    <label class="btn btn-default ">
                        <input name="pv-columns" value="2" type="radio">2</label>
                    <label class="btn btn-default">
                        <input name="pv-columns" value="3" type="radio">3</label>
                    <label class="btn btn-default">
                        <input name="pv-columns" value="4" type="radio">4</label>
                </div>
            </div>

            <!--<div class="form-group">
                <div id="pv-threshold-slider-panel" class="div-border center-content-panel">
                </div>
            </div>-->
            <div class="form-group">
                <button class="btn btn-default" id="pv-increment-charts-height" onclick="pvIncrementChartsHeight()">+Height</button>
                <button class="btn btn-default" id="pv-decrement-charts-height" onclick="pvDecrementChartsHeight()">-Height</button>
            </div>
        </div>

        <!-- template pv-chart-->
        <div class="pv-chart col-lg-12">
                <div class="pv-my-stats">
                    <div class="pv-controls">
                        <div class="center-content-panel">
                            <button type="button" class="btn btn-default pv-select-graph" onclick="PVSelectChart(event)"></button>
                        </div>
                        <div class="center-content-panel">
                            <button type="button" class="btn btn-default" id="" onclick="pvActiveNames(event)"><span class="glyphicon glyphicon-eye-open"></span></button>
                        </div>
                        <div class="center-content-panel">
                            <button type="button" class="btn btn-default pv-pause-graph" onclick="pvPause(event)"></button>
                        </div>
                        <div class="center-content-panel">
                            <button type="button" class="btn btn-default pv-remove-highlight" onclick="pvClearClicks(event.target)"><span class="glyphicon glyphicon-eye-close"></span></button>
                        </div>
                        <div class="center-content-panel">
                            <button type="button" class="btn btn-default pv-delete-graph" onclick="pvDeleteGraph(event.target)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                </div>
                <div class="pv-canvas-graph">
                    <canvas height="80"  class="pv-canvas"></canvas>
                    <svg class="pv-svg-footer-class"></svg>
                </div>
                <div class="div-border pv-events-count-parent">
                    <table class="pv-events-count">
                        <thead>
                            <tr>
                                <th class="pv-td-3">!</th>
                                <th class="pv-td-1">Event</th>
                                <th class="pv-td-2">#</th>
                            </tr>

                        </thead>
                        <tbody >
                            <tr class="dashboard-templates">
                                <td class="pv-td-3"></td>
                                <td class="pv-td-1"></td>
                                <td class="pv-td-2"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
        </div> <!-- pv-chart-->
    </div> <!-- END TEMPLATES-->
    <div class="" id="pv-charts">

    </div>
    </div>
    <script>
        $(function(){
//            var PV_CLEARED = false;
            pvResizeFunction();
            $(window).resize(pvResizeFunction)
            clear = function() {
                // Este clear es limpiar las conexiones
                pv_clear(true)

                $(window).unbind('resize',pvResizeFunction)
            }


            $("#"+PV_THRESHOLD_SLIDER_PANEL).append('<div style="padding-right: 15px;width: 130px" >Threshold: <span id='+PV_SPAN_THRESHOLD_VALUE+'>100%</span></div>')
            pvSetThreshold(100);
            var slider2 = jQuery('<div/>').slider({
                range: 'min',
                min: 0,
                max: 100,
                value: 100,
                step: 1,
                slide: function (event,ui){
                    $('#'+PV_SPAN_THRESHOLD_VALUE).text(ui.value+"%")
                },
                stop : function (event, ui){
                    setThreshold(ui.value);
                }
            }).appendTo("#"+PV_THRESHOLD_SLIDER_PANEL);
            slider2.width(100);
            // Altura dinamica
        })
        $(document).ready(function(){
            $("#pv-prefix-url").tooltip({
                placement : 'left'
            });
        });
        enableFooter()
        enableLeftColumn()
        pvStartRoutines();

        if (GLOBAL_DEBUG){
            debugRoutines ();
        }
    </script>
</div>