<div>
<head>
    <meta charset="utf-8">
    <title>Color Map</title>
    <script src="js/src/color_map.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<header>
    <h1> Color Map</h1>
</header>
<body>
<div style="height:250px;">
    <svg width="400" height="180">
        <rect x="50" y="20" rx="20" ry="20" width="150" height="150"
              style="fill-rule:evenodd" class="colorable" />
    </svg>
</div>
<p>Color: <span id="color_chosen">White</span></p>
<p>
    <input type="button" class="color_choice" id="Red" style="background-color: red; width: 25px; height: 25px;"/>
    <input type="button" class="color_choice" id="Orange" style="background-color: orange; width: 25px; height: 25px;"/>
    <input type="button" class="color_choice" id="Yellow" style="background-color: yellow; width: 25px; height: 25px;"/>
    <input type="button" class="color_choice" id="Green" style="background-color: green; width: 25px; height: 25px;"/>
    <input type="button" class="color_choice" id="Blue" style="background-color: blue; width: 25px; height: 25px;"/>
    <input type="button" class="color_choice" id="Purple" style="background-color: purple; width: 25px; height: 25px;"/>
    <input type="button" class="color_choice" id="Brown" style="background-color: brown; width: 25px; height: 25px;"/>
    <input type="button" class="color_choice" id="Black" style="background-color: black; width: 25px; height: 25px;"/>
    <input type="button" class="color_choice" id="White" style="background-color: white; width: 25px; height: 25px;"/>
</p>
<p><input type="button" id="reset_image" value="Reset"/></p>
</body>


</div>